@using blog.Shared
@inject MarkdownPipeline Mkdn

<NavLink class="nav-link" href=@($"/{BlogPost.Slug}")>
    <div class="container-fluid list-items">
        <div class="blog-content card border-0">
            <div class="blog-text card-body">
                <time class="blog-date" datetime="@BlogPost.Sys.FirstPublishedAt">
                    <span class="blog-day">@BlogPost.Sys.FirstPublishedAt.Day</span>
                    <span class="blog-year">@BlogPost.Sys.FirstPublishedAt.ToString("MMM yyyy")</span>
                </time>
                <div class="card-description">
                    <h2 class="heading">@BlogPost.Title</h2>
                    <p class="card-text">@PostDescription</p>
                </div>
            </div>
        </div>
    </div>
</NavLink>

@code {

    [Parameter] 
    public Blog BlogPost { get; set; }
    
    private string RenderHtmlContent(string value) => Markdown.ToHtml(value, Mkdn);

    private MarkupString PostDescription => (MarkupString)RenderHtmlContent(BlogPost.Description);
}